--find-links https://download.pytorch.org/whl/torch_stable.html

torch==1.9.0+cpu
sentence_transformers==2.0.0
requests==2.22.0
numpy==1.17.4
streamlit==1.4.0
Pillow==9.0.0
extra-streamlit-components==0.1.53
arxiv2bib==1.0.8
click==8