--find-links https://download.pytorch.org/whl/torch_stable.html

torch==1.9.0+cpu
numpy==1.17.4
sentence_transformers==2.1.0
fastapi==0.73.0
Pillow==9.0.0
secrets==1.0.2
slowapi==0.1.5
python-multipart==0.0.5
orjson==3.6.6